# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
# /vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

schema/*
!schema/survannt.sql

data/resources/image/*
data/resources/article/*
data/resources/text/*
data/resources/questionaire/*

!data/resources/image/.gitkeep
!data/resources/article/.gitkeep
!data/resources/text/.gitkeep
!data/resources/questionaire/.gitkeep

data/questions/*
!data/questions/.gitkeep

config/db.php
config/web.php
config/__autocomplete.php

old/*

web/css/surveyformnew.css
web/css/sitenew.css

models/User2.php
models/User3.php
models/Surveys2.php
models/Resources2.php
# /data