    .about-div {
        width: 80% !important;
    }
    .about-text {
        padding: 2%; 
        margin: 2%;
        border-radius: 25px; 
        color: white;
    }

    .about-text > .row {
        padding: 0%;
        padding-bottom: 0%;
    }

    .about-row {
        margin-bottom: 2% !important;
        border-bottom: 1px solid white;
    }

    .img-circle {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .about-par {
        color: white;
        font-size: 17px;
    }