
.navbar-dark{
	/*background-color: #f5f5f5 !important;*/
  font-family: sans-serif;
  background-color: #16122d !important;
  opacity: 0.7;
  /*background-color:  rgba(22, 18, 45, 0.7);*/
}

.navbar-inverse{

  /*background-color: #f5f5f5;*/
  /*color: white #B5312D !important;*/
  /*border-color: white !important;*/
  border-bottom: 1px solid #ddd;

  /*background-color: white !important;*/ /*#454d55 !important;*/
  /*color: white #B5312D !important;*/
  /*border-color: white !important; *//*#454d55 !important;*/
}

.navbar-nav{
	height: 40px !important;
}

.navbar-brand{
  /*color:#B5312D !important;*/
}

.navbar-brand:hover{
  /*color:#FBB8B8 !important;/*#FAEBEB*//*#FCE9E9*/ */
}

.navbar-inverse .navbar-nav > li > a{
  /*color: #B5312D !important;*/
}

.navbar-inverse .navbar-nav > li > a:hover{
  /*color:#FBB8B8 !important;/*#FAEBEB*//*#FCE9E9*/*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
  /*background-color:#D6605C /*#E44E53*/ !important;*/
  /*color:white !important;*/
}

.footer{
  font-family: sans-serif;
  background-color: #16122d !important;
  opacity: 0.5;
  color: white !important;
}

.navbar-collapse{
	flex-basis: unset !important;
	flex-grow: unset !important;
}


.footer > .container > .row > .col-md-8 {
    text-align: center;
}

.footer > .container > .row > .col-md-2 > p {
    float:left;
}
.footer > .container > .row > .col-md-2 > a > img {
	width:46%; padding-left:3%;
}
