.rate-form{
	margin: 1%;
	padding: 1%;
}

.rate-box{
	color: black;
	border-radius: 25px;
}

.marg-left-right{
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.question-box{
	background-color: #dadeefa8;
	border-radius: 25px;
}

.resource-row{
	border-radius: 25px;
	border: 2px solid grey;
	padding: 2em;
	background-color: white;
	margin-top: 1em;
}

.question{
	font-weight: bold;
	margin: auto;
}

.question-values{
	margin: auto;
}

.progress-bar-widget{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.progress-bar-widget > .col-md-6{
	padding-top: 1%;
	margin-right: 1em;
}

.progress-bar-widget > .col-md-6 > .progress-striped{
	width: 70%;
}

.question-radiolist{
	background-color: #C7CEEA;
	border-radius: 25px;
	padding: 0.5%;
	padding-left: 1%;
	width: auto;
}

.resource-row > h5{
	text-align: left;
	margin-top: 0%;
	padding-left: 0%;
	margin-left: 0%;
}

.acquired-badges{
	max-height: 50px;
	max-width: 50px;
}

.goals-title{
	color: black;
	margin-left: 0px !important;
	padding-left: 0px !important;
}