.survey-form{
    /*width: 68%;*/
    margin: auto;
    margin-top: 5%;
}



.form-control{
    /*width: 40%;*/
    /*padding: 2%;*/
}

.form-control::placeholder{
    color: lightgrey !important;
}

.survey-create{
    /*padding: 2%;*/
}

.button-row{
    /*padding-bottom: 2%;*/
    /*margin: 2% 2% 2% 2%;*/
    margin: 2em !important;
}

.button-row-2{
    margin: 1% 0% 0% 1%;
}

.header-row{
    margin-right: unset !important;
    margin-left: unset !important;
    margin-bottom: 4% !important;
    
}

.header-row > .tab{
    border-right: 2px solid white;
    border-top-right-radius:25px;
    padding-left: 0% !important;
    border-bottom: 2px solid white;
}

.header-row > .tab:last-child{
    border-right: none !important;
    border-top-right-radius:25px;
    padding-left: 0% !important;
    border-bottom: 2px solid white;
}

.header-row > div > a {
    text-decoration: none !important;
    /*color: #0056aa !important;*/
    color: white !important;
}

.outside-div{
    border-radius: 25px;
    width: auto;
    margin: auto;
    /*background-color: white;*/
    /*background-color: rgba(255,255,255,0.4);*/
    background-color: rgba(22, 18, 45, 0.5);
    padding: 0% 0% 0% 0%;
    margin-top: 5%;
    /*background-color: #16122d !important;*/
    /*opacity: 0.5;*/
    color: white !important;
    border: 2px white solid;
}

h5{
    /*margin: 6% 0% 4% 7%;*/
    margin: 10px 0px 7px 12px;
    opacity: 0.5;
    padding-left: 10px;
}

.survey-fields{
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.user-form{
    /*width: 66% !important;*/
    margin: auto !important;
}

.datasetcreate{
    width: 100% !important;
}

.questionscreate{
    width: 100% !important;
}

.participatesincreate{
    width: 100% !important;
}



.dataset-tools{
    /*border: 1px solid white;*/
    margin-right: 15px;
    margin-left: 15px;
}

.dataset-header-column > .float-right{
    padding-right: 1%;
    padding-left: 1%;
}

.datasets-table{
    position: relative; 
    max-height: 500px; 
    overflow: auto;
    padding: 3%;
    /*border: 2px white solid;*/
    margin: 3%;
}

.dataset-form{
    margin-bottom: 3%;
}

.tooltip-icon{
    text-decoration: none !important;
    cursor: pointer;
    color: white;
}

.tooltip-icon:hover{
    color: white;
}

.white{
    color: white;
}
.teal{
    color: darkcyan;
}

.green{
    color: #3c873a;
}

.modal-header{
    /*background-color: dodgerblue !important;*/
    /*background: linear-gradient(45deg, dodgerblue, #0056aa);*/
    /*background: #327a81;*/
    /*color: white !important;*/
}
.close > span:nth-child(1){
    color: white !important;
}
.code-block-background{
    background-color: #303030; padding: 2%; font-size: 15px;
}

.link-icon{
    cursor: pointer !important;
    text-decoration: none !important;
}

.fa-eye{
    color: #949494;
}

.fa-edit{
    color: #949494;
}

.fa-trash-alt{
    /*color: #dd7777;*/
    color: #949494;
}

.fa-pencil{
    /*color: #dd7777;*/
    color: #949494;
}


.fa-star{
   
    /*color:gold;*/
    color: #949494;
}

.fa-lock{
    /*color: #949494;*/
    color: #949494;
}

.fa-unlock, .fa-check{
    /*color: #77dd77;*/
    color: #949494;
}

.fa-square-poll-horizontal{
    color: #949494;
}

.fa-hourglass-half{
    color: #949494;
}

.fa-envelope{
    /*color: #77dd77; */
    color: #949494;
}

.fa-circle-xmark{
    color: red;
    font-size: 15px;
    /*background-color: white;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;*/
}

.fa-circle-check{
    color: #77dd77;
    font-size: 15px;
}

.fa-circle-exclamation{
    color: red;
    font-size: 15px;
}

.url-disabled{
    pointer-events: none;
    opacity: 0.5;
}

.resources-inner{
    padding: 4%;
}

.float-left > .form-group{
    display: inline !important;
}

.resource-header-row{
    padding: 0.75rem; 
    border: 1px solid white;
    /*border-bottom: none;*/
}

.resource-header-row > .float-left{
    width: 30%; 
    text-align: left !important;
}

.resource-header-row > .center{
    width: 40%  !important; 
    
}

.resource-header-row > .float-right{
    width: 30% !important;
    text-align: right !important;
}

.form-group{
    margin: auto !important;
}

.datasets-table div[class^='resource-object'] {
    margin-bottom: 4%;
}

.fa-crown{
    /*color: gold;*/
    color: #949494;
}

.border-info{
    text-align: left !important;
    border-color: #ced4da !important;
}

.surveys-view-header{
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 1px white solid;
}

.button-row-header{
    padding-bottom: 0%;
    margin: 0% 2% 0% 2%;
}

.control-label{
    /*color: black !important;*/
    text-decoration: none !important;
    width: 100% !important;
    word-wrap: unset !important;
    padding-bottom: 0.2em;
    font-style: italic;
    padding-left: 0.2em;

}

.header-label{
    /*color: black;*/
    /*font-weight: bold;*/
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgrey;
    font-style: italic;
    font-size: 24px;
}

.survey-form-box{
    margin: 0em 2em 2em 2em !important;
    padding: 1em 3em 3em 3em;
    border-radius: 25px;
}

form div.required label.control-label:after {
    text-decoration: none !important;
    width: 100% !important;
    word-break: keep-all !important;
    content:" * ";
    color:red;
}

.badge-image-preview{
    max-height: 30px !important;
    max-width: 30px !important;
}

.tableFixHead{ 
    overflow: auto !important; 
    height: 100px !important; 
}

.tableFixHead thead th{ 
    position: sticky !important; 
    top: 0 !important; 
    z-index: 1 !important; 
}

.dataset-header-row{
    margin-bottom: 0% !important ;
}