


.table {
    background-color: rgba(255, 255, 255, 0.8);
}

.table > tbody > tr > td {
    vertical-align: middle !important;
    text-align: center !important;
}

.table > thead > tr{
    /*background: linear-gradient(45deg, mediumpurple, dodgerblue);*/
    /*background: linear-gradient(45deg, dodgerblue, #0056aa);*/
    /*background: #327a81;*/
    background: #7D88B7;
    color: white; !important;
}

.table > thead > tr > th > a, .control-label{
    color: white;
    text-decoration: underline;
}

.table > thead:nth-child(1) > tr:nth-child(1) > th > a:nth-child(1):hover{
    /*background: -webkit-linear-gradient(45deg, #C7CEEA, dodgerblue);*/
    background: #007bff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table > tbody > tr:not(.dataset-header-row){
    background: white;
}



.dataset-table-header-row{
    /*background: linear-gradient(45deg, mediumpurple, dodgerblue) !important;*/
    /*background: linear-gradient(45deg, dodgerblue, #0056aa) !important;*/
    background: #7D88B7 !important; /*#327a81 !important;*/
}

.dataset-header-column{
    color: white !important;
    font-weight: bold; 
    /*background-color: dodgerblue; */
    /*background: linear-gradient(45deg, dodgerblue, #0056aa);*/
    background: #7D88B7 !important;
    vertical-align: middle; 
    text-align: center;
}

.dataset-header-column > span > *{
    color: white !important;
}